server:
  port: 8081
spring:
  application:
    name: Chat_App


# mysql database configurations 5432 root
  datasource:
    url: jdbc:postgresql://localhost:3308/chat
    username: postgres
    password: root123

# Hibernate configurations
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect



springdoc:
  api-docs:
    enabled: true
#    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
#  paths-to-match: /chat/**
#
#
#openapi: # Correct spelling
#    dev-url: http://localhost:8083
#    prod-url: http://localhost:8083
#

chat:
  frontend:
    url: http://localhost:3000
  kafka:
    url: localhost:9092
    single: single_chat_messages
    group: group_chat_messages




# cloudinary  configurations
cloudinary:
    cloud:
        name: dnhniwrqh
    api:
        key: 227498921864399
        secret: bXixRzuHrxY3enlPiuNyZh2tYPE


